body{
    background-color: red;
}
    
.painel{
    background-color: white;
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

#sim{
    height: 40px;
    width: 60px;
    background-color: rgb(247, 25, 25);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    margin-left: -50px;
}

#nao{
    position: absolute;
    height: 40px;
    width: 60px;
    background-color: rgb(247, 25, 25);
    border:2px solid white;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
}